<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="/eel.js"></script>
<head>
    <meta charset="UTF-16">
    <title>Linked table</title>
    <style>
        body{
            background-color: #A8DADC;
            }
        #main_window{
            margin: 5% 0%;
            padding: 5%;
            background-color: #F1FAEE;
            }
        .btn{
            background-color: #457B9D;
            border-color: #457B9D;
            }
        .btn:hover{
            background-color: #1D3557;
            border-color: #1D3557;
            }
    </style>
</head>
<body>
<div class="container">
    <div class="row justify-content-center" id="main_window">
        <div class="col-12">
        <div class="row justify-content-center" id="title">

        </div>
        </div>

        <br><br><br>
        <div class="row justify-content-start" id="search_form">

        </div>

        <br><br><br>
        <div class="col-12">
        <div class="row justify-content-center" >
            <div class="table-responsive-sm">
            <table class="table" id="table">

            </table>
            </div>
        </div>
        </div>

        <br><br><br>
        <div class="col-6">
        <div class="row justify-content-start" id="add_button">

        </div>
        </div>
        <div class="col-6">
            <div class="dropdown" id="tmp">

            </div>
        </div>
    </div>
</div>
</body>
<script>
    let const_table_name = '';
    let headers = [];
    async function update(update_query){
        var value = prompt('Введите новое значение.');
        if (value != null){
            var response = await eel.update(update_query, window.const_table_name, value)();
            if (response.error){
                alert(response.error);
            } else {
                display_table(window.const_table_name);
                alert('Таблица успешно обновлена.');
            }
        }
    }
    async function search(){
        let column = document.getElementById("dropdown_button").value;
        let value = document.getElementById("search_value").value;
        let where = " where " + column + " = '" + value + "'";
        var response = await eel.html_code_for_table(window.const_table_name, where)();
        if (response.error){
            alert(response.error);
        } else {
            document.getElementById("table").innerHTML = response.code;
            display_search_form(response.dropdown);
        }
    }
    async function add(){
        let values = [];
        for (let i = 1; i < (window.headers.length); i += 1){
            values.push(document.getElementById("added_items").cells[i].children[0].value);
        };
        var response = await eel.add(window.const_table_name, window.headers, values)();
        if (response.error){
            alert(response.error);
        } else {
            display_table(window.const_table_name);
            alert('Данные успешно добавлены.');
        }
    }
    async function add_several(){
        var amount = document.getElementById("add_value").value;
        let value = document.getElementById("added_items").cells[0].children[0].value;
        var response = await eel.add_several(amount, value)();
        if (response.error){
            alert(response.error);
        } else {
            display_table(window.const_table_name);
            alert('Данные успешно добавлены.');
        }
    }
    async function del(id){
        var confirmation = confirm('Вы действительно хотите удалить запись?')
        if (confirmation){
            var response = await eel.delete(window.const_table_name, window.headers[0], id)();
            if (response.error){
                alert(response.error);
            } else {
                display_table(window.const_table_name);
                alert('Данные упешно удалены.');
            }
        }
    }

    window.onload = async function(){
            let table = await eel.give_table()();
            display_table(table)
    }

    async function display_table(table_name){
        window.const_table_name = table_name;
        var response = await eel.html_code_for_table(table_name)();
        if (response.error){
            alert(response.error);
        } else {
            document.getElementById("title").innerHTML = table_name;
            window.headers = response.headers;
            document.getElementById("table").innerHTML = response.code;
            display_search_form(response.dropdown);
            if (table_name == 'Кjоробки' || table_name == 'Товары'){
                document.getElementById("add_button").innerHTML = add_several_button;
            } else {
                document.getElementById("add_button").innerHTML = add_button;
            }
        }
    }

    function display_search_form(dropdown_code){
        document.getElementById("search_form").innerHTML = search_html;
        document.getElementById("search_dropdown").innerHTML = dropdown_code;
    }
    function handle_search_dropdown(column){
        document.getElementById("dropdown_button").value = column;
    }

    var drop = `                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Выберите связанную таблицу для отображения
                </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdown1">
                <a class="dropdown-item">Таблицы загружаются...</a>
            </div>`;

    var add_button = `            <div class="col-5">
            <button type="button" class="btn btn-primary" onclick="add()">Добавить</button>
            </div>`;

    var add_several_button = `            <div class="col-5">
            <button type="button" class="btn btn-primary" onclick="add_several()">Добавить несколько</button>
            </div>
            <div class="col-3">
            <input class="form-control" value="1" id="add_value">
            </div>
            <div class="col-4">
            </div>`;

    var search_html = `            <div class="col">

        <div class="dropdown">
                <input value="Выберите колонку для поиска" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdown_button">

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="search_dropdown">
                <a class="dropdown-item">Таблицы загружаются...</a>
            </div>
        </div>
            </div>
            <div class="col">
                <input class="form-control" placeholder="ключ" id="search_value">
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" onclick="search()">Поиск</button>
            </div>`;

    function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("table");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 2); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
</html>